@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Milestones" asp-action="Index" class="btn btn-success">
        <i class="fa-solid fa-house fa-fw me-1"></i> Go to milestones
    </a>
</div>
